<%- include('partials/header') %>
<section class="center-card danger">
  <h1>Erro controlado</h1>
  <p><%= message %></p>
  <a class="button" href="/tools">Voltar para tools</a>
</section>
<%- include('partials/footer') %>
