<%- include('partials/header') %>
<section class="center-card">
  <h1>404</h1>
  <p>Rota não encontrada.</p>
  <a class="button" href="/">Voltar para home</a>
</section>
<%- include('partials/footer') %>
